[submodule "js30-day-01-js-drum-kit"]
	path = js30-day-01-js-drum-kit
	url = https://github.com/basuabhirup/js30-day-01-js-drum-kit
[submodule "js30-day-02-js-and-css-clock"]
	path = js30-day-02-js-and-css-clock
	url = https://github.com/basuabhirup/js30-day-02-js-and-css-clock.git
[submodule "js30-day-03-css-variables"]
	path = js30-day-03-css-variables
	url = https://github.com/basuabhirup/js30-day-03-css-variables.git
[submodule "js30-day-04-array-cardio-1"]
	path = js30-day-04-array-cardio-1
	url = https://github.com/basuabhirup/js30-day-04-array-cardio-1.git
[submodule "js30-day-05-flex-panels-image-gallery"]
	path = js30-day-05-flex-panels-image-gallery
	url = https://github.com/basuabhirup/js30-day-05-flex-panels-image-gallery.git
[submodule "js30-day-06-ajax-type-ahead"]
	path = js30-day-06-ajax-type-ahead
	url = https://github.com/basuabhirup/js30-day-06-ajax-type-ahead.git
[submodule "js30-day-07-array-cardio-2"]
	path = js30-day-07-array-cardio-2
	url = https://github.com/basuabhirup/js30-day-07-array-cardio-2.git
