[submodule "js30-day-01-js-drum-kit"]
	path = js30-day-01-js-drum-kit
	url = https://github.com/basuabhirup/js30-day-01-js-drum-kit
[submodule "js30-day-02-js-and-css-clock"]
	path = js30-day-02-js-and-css-clock
	url = https://github.com/basuabhirup/js30-day-02-js-and-css-clock.git
[submodule "js30-day-03-css-variables"]
	path = js30-day-03-css-variables
	url = https://github.com/basuabhirup/js30-day-03-css-variables.git
[submodule "js30-day-04-array-cardio-1"]
	path = js30-day-04-array-cardio-1
	url = https://github.com/basuabhirup/js30-day-04-array-cardio-1.git
[submodule "js30-day-05-flex-panels-image-gallery"]
	path = js30-day-05-flex-panels-image-gallery
	url = https://github.com/basuabhirup/js30-day-05-flex-panels-image-gallery.git
[submodule "js30-day-06-ajax-type-ahead"]
	path = js30-day-06-ajax-type-ahead
	url = https://github.com/basuabhirup/js30-day-06-ajax-type-ahead.git
[submodule "js30-day-07-array-cardio-2"]
	path = js30-day-07-array-cardio-2
	url = https://github.com/basuabhirup/js30-day-07-array-cardio-2.git
[submodule "js30-day-08-html5-canvas"]
	path = js30-day-08-html5-canvas
	url = https://github.com/basuabhirup/js30-day-08-html5-canvas.git
[submodule "js30-day-09-dev-tools-tricks"]
	path = js30-day-09-dev-tools-tricks
	url = https://github.com/basuabhirup/js30-day-09-dev-tools-tricks.git
[submodule "js30-day-10-hold-shift-to-check-multiple-checkboxes"]
	path = js30-day-10-hold-shift-to-check-multiple-checkboxes
	url = https://github.com/basuabhirup/js30-day-10-hold-shift-to-check-multiple-checkboxes.git
[submodule "js30-day-11-custom-html5-video-player"]
	path = js30-day-11-custom-html5-video-player
	url = https://github.com/basuabhirup/js30-day-11-custom-html5-video-player.git
[submodule "js30-day-12-key-sequence-detection"]
	path = js30-day-12-key-sequence-detection
	url = https://github.com/basuabhirup/js30-day-12-key-sequence-detection.git
[submodule "js30-day-13-slide-in-on-scroll"]
	path = js30-day-13-slide-in-on-scroll
	url = https://github.com/basuabhirup/js30-day-13-slide-in-on-scroll.git
[submodule "js30-day-14-reference-vs-copy"]
	path = js30-day-14-reference-vs-copy
	url = https://github.com/basuabhirup/js30-day-14-reference-vs-copy.git
[submodule "js30-day-15-local-storage-and-event-delegation"]
	path = js30-day-15-local-storage-and-event-delegation
	url = https://github.com/basuabhirup/js30-day-15-local-storage-and-event-delegation.git
[submodule "js30-day-16-mouse-move-effect"]
	path = js30-day-16-mouse-move-effect
	url = https://github.com/basuabhirup/js30-day-16-mouse-move-effect.git
[submodule "js30-day-17-sort-without-articles"]
	path = js30-day-17-sort-without-articles
	url = https://github.com/basuabhirup/js30-day-17-sort-without-articles.git
[submodule "js30-day-18-adding-up-video-times"]
	path = js30-day-18-adding-up-video-times
	url = https://github.com/basuabhirup/js30-day-18-adding-up-video-times.git
[submodule "js30-day-19-webcam-fun"]
	path = js30-day-19-webcam-fun
	url = https://github.com/basuabhirup/js30-day-19-webcam-fun.git
[submodule "js30-day-20-speech-detection"]
	path = js30-day-20-speech-detection
	url = https://github.com/basuabhirup/js30-day-20-speech-detection.git
[submodule "js30-day-21-geolocation"]
	path = js30-day-21-geolocation
	url = https://github.com/basuabhirup/js30-day-21-geolocation.git
[submodule "js30-day-22-follow-along-links"]
	path = js30-day-22-follow-along-links
	url = https://github.com/basuabhirup/js30-day-22-follow-along-links.git
[submodule "js30-day-23-speech-synthesis"]
	path = js30-day-23-speech-synthesis
	url = https://github.com/basuabhirup/js30-day-23-speech-synthesis.git
[submodule "js30-day-24-sticky-navbar"]
	path = js30-day-24-sticky-navbar
	url = https://github.com/basuabhirup/js30-day-24-sticky-navbar.git
[submodule "js30-day-25-event-capture"]
	path = js30-day-25-event-capture
	url = https://github.com/basuabhirup/js30-day-25-event-capture.git
[submodule "js30-day-26-follow-along-nav"]
	path = js30-day-26-follow-along-nav
	url = https://github.com/basuabhirup/js30-day-26-follow-along-nav.git
